<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
</head>
<body>
    {{>header}}
    <!-- main header -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right home_header_right">
                        <figure>
                            <img src="image/about.png" alt="" class="img-fluid">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am a <span class="txt_clr">Mern stack Devloper </span></h1>
                        <a href="/"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{>footer}}
</body>
</html>